@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/* background div styles */
.background {
  /* background animation */
  background: linear-gradient(271deg, #f5f5f5, #fb8954);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 11s ease infinite;
  -moz-animation: AnimationName 11s ease infinite;
  -o-animation: AnimationName 11s ease infinite;
  animation: AnimationName 11s ease infinite;


  position: absolute;
  min-height: 100%;
  min-width: 100%;
  z-index: -5;
  opacity: 0.9;
}


@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
/* background div styles ends */


/* body styles */
body {
  color: #cecece;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* body style ends */


/* navbar styles */
.nav-bar {
  /* background: rgb(255, 128, 69);
  background: linear-gradient(
    186deg,
    rgba(255, 128, 69, 1) 3%,
    rgb(253, 224, 224) 100%
  ); */

background-color: rgba(0, 0, 0, 0.549);

  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border-bottom: 3px outset black; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-list{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

/* li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: black;
} */

.clear{
  /* background-color: blue; */
  /* padding: 10px; */
  margin: 0;
  height: 100px;
}

.navbar-list li {
  font-weight: 600;
  padding: 10px;
}

.navbar-list li:hover {
  background-color: black;
  color: coral;
  transition: 0.2s all;
  border-radius: 5px 20px;
}
/* navbar styles ends */


.footer-bar{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.574);
  align-content: space-around;
  height: 100%;
  padding: 4px;
}


.inner-footer-links div:hover {
  color: rgb(255, 128, 69);
}



.footer-links{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  /* width: 25%; */
  border-right: 2px solid rgba(229, 231, 235, 1);
  padding: 14px;
}


.inner-footer-links{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  /* width: 50%; */
}

.contact-form{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  /* width: 25%; */
  flex: 0 0 50%;
}

.form-name{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;
  padding: 4px;
}

.form-email{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;
  padding: 4px;
}

.contact-form label{
flex: 0 0 30%;
}

.contact-form input[type=text]{
  background-color: white;
  padding: 2px;
  border-radius: 15px;
  color: black;
}
.contact-form input[type=email]{
  background-color: white;
  padding: 2px;
  border-radius: 15px;
  color: black;
}

.contact-form input[type=submit]{
  background-color: #82b8f7;
  padding: 5px;
  color: black;
  border-radius: 10px 15px;
}

.contact-form input[type=submit]:hover{
  background-color: coral;
  transition: 0.6s all ease-in-out;
  cursor: pointer;
}


.hero-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;  
  /* background-color: rgba(0, 0, 0, 0.374); */
  padding: 3%;
  margin: 3vw auto;
}

.hero-image img{
  width: 40%;
  height: 40%;
  border-radius: 50px;
  border: 2px solid black;
  margin: auto;
}

.hero-text{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.hero-text h2{
  font-family: 'Bebas Neue', cursive;
  justify-self: flex-end;
  font-size: 4rem;
  color: coral;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.hero-text p{
  /* font-style: oblique; */
  font-size: 2rem;
  color: #ffffff;
  font-weight: 600;
  text-shadow: 2px 0 0 coral, -2px 0 0 coral, 0 2px 0 coral, 0 -2px 0 coral, 1px 1px coral, -1px -1px 0 coral, 1px -1px 0 coral, -1px 1px 0 coral;
}


/* responsiveness */

@media only screen and (max-width: 768px){
.hero-text h2{
  font-size: 2rem;
}
.hero-text p{
  font-size: 0.8rem;
}
}

@media only screen and(min-width: 769px) and (max-width: 1200){
  .hero-text h2{
    font-size: 3rem;
  }
  .hero-text p{
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1201px){

}